.header {
	background: #fff;
	border: none;
	border-bottom: 1px solid #ddd;
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}
.container {
	height: 100%;
}
.navbar {
	display: block;
	height: 55px;
}
.logo {
	display: inline-block;
	width: 210px;
	height: 100%;
	vertical-align: top;
	padding-top: 1.2rem;
}

.logo img {
	width: 100%;
	height: auto;
}
.top-links {
	display: inline-block;
	margin-left: 1.25rem;
	height: 100%;
}
.top-links ul {
	list-style-type: none;
	height: 100%;
}
.top-links li {
	float: left;
	height: 100%;
}
.top-links li a {
	display: block;
	height: 100%;
	color: #000;
	text-align: center;
	padding: 1.5rem 1rem 0;
	text-decoration: none;
	font-size: 0.8rem;
}
.top-links li a:hover:not(.active) {
	background-color: #00c4cc;
	color: #fff;
}
.active {
	background-color: #00c4cc;
}

.top-right{
	width: 55px;
	height: 55px;
	display: inline-block;
	float: right;
	background-color: #00c4cc;
	position: relative;
}
.btn-search {
	display: block;
	color: #fff;
	font-size: 1.25rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

