.main {
	display: block;
	width: 100%;
	position: relative;
	top: 55px;
	z-index: 0;
}
.top{
    color: #2aabd2;
    font-family: "Times New Roman";
    font-size: 16px;
    margin:20px 100px;
    text-align: center;
}
.text{
    font-family: 'Playfair Display',serif;
    margin-top: 5px;
    text-align: center;
    color: black;
}
.h1:hover {
    color: violet;
    text-align: center;
    transition: 600ms;
}
.icon{
    list-style-type: none;
}
.box{
    width: 145px;
    height: 30px;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 10px 10px;
    float: left;
}
.box a {
    display: none;
}
.box:hover a {
    display: inline;
}
.box1{
    background-color: #2aabd2;
    text-align: center ;
    padding-top:5px;
}
.box2{
    background-color:violet ;
    text-align: center ;
    padding-top:5px;
}
.box3{
    background-color: cornflowerblue;
    text-align: center ;
    padding-top:5px;
}
.box4{
    background-color: #f0ad4e;
    text-align: center ;
    padding-top:5px;
}
.magic{
    color: white;
    box-sizing: border-box;
    text-decoration: none;
}
.cout {
    padding-top: 10px;
    margin: 5px 20px;
    font-family: "Times New Roman";
    font-size:16px;
    font-weight: 300;
}
h3{
    font-family: "Times New Roman";
    font-size: 19px;
    color: #2aabd2;
    margin:10px 20px 0px 20px;
}
ol{
    color: #00c4cc  ;
    font-size: 19px;
}
.tem{
    margin: 5px 20px;
    border-radius: 5px;
}
.post{
  margin-left: 15px;

}
.z1{
    margin: 10px 20px ;
    height: 30px;
    width: 200px;
    border:black solid 1px;
    border-radius: 4px;
}

textarea{
    background-color: #e7e7e7;
    border-radius: 6px;
}
.bottom{
   margin-left: 37px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.block:hover{
    color: black;
    transition: 500ms;
    background-color: #2aabd2;
}
.block{
    margin-left: -5px;
    background-color: #888888;
}
button{
     background-color: white;
     text-align: center;
     width: 160px;
     height: 35px;
    font-size: 15px;
    border: #888888;
 }
.grid {
	position: relative;
}
.font{
    color: #2aabd2;
    text-decoration: none;
}
