.main {
	display: block;
	width: 100%;
	position: relative;
	top: 55px;
	z-index: 0;
}
/* Articles Section */
.articles-section {
	width: 100%;
	padding: 1rem; 
}
.article {
	width: 100%;
	display: grid;
	min-height: 210px;
	grid-template-columns: 1fr 1fr;
	border-bottom: 1px #ddd solid;	
	margin-bottom: 1.25rem;
	text-decoration: none;
}
.article-img {
	width: 100%;
	height: 190px;
	position: relative;
}
.article-img img {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.article-tag {
	display: inline;
	border: 1px solid;
	color: #fff;
	text-align: center;
	font-size: 0.8rem;
	padding: 0 3%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -60%);
	text-transform: uppercase;
}
.healthy {
	background: #f00271;
	border-color: #f00271;	
}
.fitness {
	background: #2f9eed;
	border-color: #2f9eed;	
}
.recipes {
	background: #ff840a;
	border-color: #ff840a;	
}
.fun {
	background: #7800d4;
	border-color: #7800d4;	
}
.yoga {
	background: #ffc300;
	border-color: #ffc300;	
}
.article-body {
	width: 100%;
	padding: 1rem;
	margin-top: -1.75rem;
}

.article-title {
	font-family: 'Playfair Display',serif;
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
	color: #111;
}
.article-title:hover {
	color: #2f9eed;
}
.article-text {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.75;
	color: #444;
}
/* END */
.top{
    color: #2aabd2;
    font-family: "Times New Roman";
    font-size: 16px;
    margin:20px 100px;
    text-align: center;
}
.text{
    font-family: 'Playfair Display',serif;
    margin-top: 5px;
    text-align: center;
    color: black;
}
.h1:hover {
    color: violet;
    text-align: center;
    transition: 600ms;
}
.icon{
    list-style-type: none;
}
.box{
    width: 145px;
    height: 30px;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 10px 10px;
    float: left;
}
.box a {
    display: none;
}
.box:hover a {
    display: inline;
}
.box1{
    background-color: #2aabd2;
    text-align: center ;
    padding-top:5px;
}
.box2{
    background-color:violet ;
    text-align: center ;
    padding-top:5px;
}
.box3{
    background-color: cornflowerblue;
    text-align: center ;
    padding-top:5px;
}
.box4{
    background-color: #f0ad4e;
    text-align: center ;
    padding-top:5px;
}
.magic{
    color: white;
    box-sizing: border-box;
    text-decoration: none;
}
.cout {
    padding-top: 10px;
    margin: 5px 20px;
    font-family: "Times New Roman";
    font-size:16px;
    font-weight: 300;
}
h3{
    font-family: "Times New Roman";
    font-size: 19px;
    color: #2aabd2;
    margin:10px 20px 0px 20px;
}
ol{
    color: #00c4cc  ;
    font-size: 19px;
}
.tem{
    margin: 5px 20px;
    border-radius: 5px;
}
.comment {
	background: #fff;
	resize: none;
	margin-left: 20px;
	border: 1px #ddd solid;
}
.post{
	margin: 10px 20px;
	position: relative;
}
.post div {
	position: relative;
	height: 50px;
	width: 100%:
}
.post label {
	position: absolute;
	top: 5px;
}
.post input {
	position: absolute;
	right: 300px;
}

button{
   background-color: #d6e9c6;
    text-align: center;
    width: 200px;
    border:black solid 1px;
    border-radius: 4px;
}

textarea{
    background-color: #e7e7e7;
    border-radius: 6px;
}
.bottom{
   margin-left: 37px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.block:hover{
    color: black;
    transition: 500ms;
    background-color: #2aabd2;
}
.block{
    margin-left: -5px;
    background-color: #888888;
}
button{
     background-color: white;
     text-align: center;
     width: 160px;
     height: 35px;
    font-size: 15px;
    border: #888888;
 }
.grid {
	position: relative;
}
.font{
    color: #2aabd2;
    text-decoration: none;
}
