.sidebar {
	display: block;
	border: 1px solid #ddd;
}
.sidebar-inner {
	display: block;
	margin: 0 auto;
	width: 300px;
}
.social {
	padding: 1rem 0 2rem 0;
}
.sidebarHeader {
	background: url(../images/striped-bg.png) repeat;
	text-align: center;
	width: 100%;
	padding: 0.25rem 0;
}
.sidebarHeading{
	background: #fff;
	font-weight: 400;
	letter-spacing: 0.25rem;
	line-height: 1.5;
}
.sidebarItems ul{
	list-style-type: none;
}
.card {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0.5rem 0 1.25rem;
}
.card-img {
	display: block;
	width: 40%;
}
.card-img img {
	display: block;
	width: 100%;
}
.card-body {
	display: block;
	width: 60%;
	padding: 0.25rem 0.5rem;
}
.item-link {
	text-decoration: none;
}
.card-title {
	color: #111;
	font-size: 0.8rem;
	font-weight: 600;
}

